<footer class="footer ">
    <div class="container-fluid">
        <!--<nav class="pull-left">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<a href="https://www.creative-tim.com">-->
        <!--Creative Tim-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="http://presentation.creative-tim.com">-->
        <!--About Us-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="http://blog.creative-tim.com">-->
        <!--Blog-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="https://www.creative-tim.com/license">-->
        <!--Licenses-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</nav>-->
        <div class="copyright">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="./" target="_blank">waterTheTree Team</a>
        </div>
    </div>
</footer>
