<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Create new user</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Fist Name" type="text"
                                                       formControlName="firstName">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Last Name" type="text"
                                                       formControlName="lastName">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email" type="text"
                                                       formControlName="email">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Password" type="password"
                                                       formControlName="pwd">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="accountType"
                                                   id="accountType1" value="1" formControlName="accountType">
                                            Staff
                                            <span class="circle"><span class="check"></span></span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="accountType"
                                                   id="accountType2" value="2" formControlName="accountType">
                                            Volunteer
                                            <span class="circle"><span class="check"></span></span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="accountType"
                                                   id="accountType3" value="3" formControlName="accountType">
                                            Admin
                                            <span class="circle"><span class="check"></span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                    *ngIf="creatUserAllowed">Create
                            </button>
                            <button mat-raised-button type="button" class="btn btn-success pull-right"
                                    (click)="signUpForm.reset();
                                    creatUserAllowed=true;
                                    responseMess=''">Reset Form
                            </button>
                            <p>{{responseMess}}</p>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">-->
            <!--<div class="card card-profile">-->
            <!--<div class="card-avatar">-->
            <!--<a href="#pablo">-->
            <!--<img class="img" src="../assets/img/faces/marc.jpg"/>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="card-body">-->
            <!--<h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
            <!--<h4 class="card-title">Alec Thompson</h4>-->
            <!--<p class="card-description">-->
            <!--Don't be scared of the truth because we need to restart the human foundation in truth And I-->
            <!--love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
            <!--</p>-->
            <!--<a href="#pablo" class="btn btn-danger btn-round">Follow</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
